<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    Enter Name:<input
      class="form-control"
      type="text"
      name="username"
      ngModel
      required
      #tableName="ngModel"
    />
    <span class="help-block" *ngIf="tableName.invalid && tableName.touched">
      Please enter name!
    </span>
    <br />
    Enter Number:<input
      class="form-control"
      type="number"
      name="phone"
      ngModel
      required
      #tableNumber="ngModel"
    />
    <span class="help-block" *ngIf="tableNumber.invalid && tableNumber.touched">
      Please enter number!
    </span>
    <br />
    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
      Submit
    </button>
  </form>

  <!-- tableName, -->
  <!-- <button class="btn btn-primary" (click)="addNewUser(tableNumber)">Add</button>-->
  <br /><br /> 
  <button class="btn btn-primary" (click)="addNewUser(f)">Add</button>
  <br /><br />
  <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
  <br /><br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{ user.name | shorten: 6 }}
        </td>
        <td>
          {{ user.phone }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
